* {
    box-sizing: border-box;
  }

  input {
    border: none;
  }
  button:focus {
    outline: none;
  }
  ::-webkit-input-placeholder {
    color: rgba(47, 45, 45, 0.65);
  }
  

  .input-line-h4 {
    background: none;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 2.4em;
    color: rgb(52, 51, 51);
    font-family: Helvetica;
    letter-spacing: 0.02rem;
    border-bottom: 1px solid rgba(149, 147, 147, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 200px;
    color: #727272;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;

}
    .input-line-h4:focus {
        outline: none;
        border-color: rgb(125, 155, 129);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }
   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #eceae6;
    font-family: 'Roboto', sans-serif;
  }
 

.shopping-cart {
    width: 55%;
    margin: 30px auto 30px 12.5%;
    background: #ffffff00;
    display: flex;
    flex-direction: column;
    float: left;
    font-family: Helvetica;

  }

  .title1 {
    height: 5vh;
    border-bottom: 1px solid #60755b;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 2vh;
    font-weight: 400;
    width: 100%;
    float: left !important;
  }
  .title {
    height: 5vh;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 2vh;
    font-weight: 400;
    width: 100%;
    float: left !important;
  }
  .item {
    padding: 5px 5px 5px 5px;

    display: flex;
    vertical-align: middle;
    border-bottom:  1px solid #8996a1;
    min-height: 150px;

  }
   
  .item:nth-child(3) {
    border-top:  1px solid #8996a1;
    border-bottom:  1px solid #8996a1;
  }

  .image {
    width: 140px;
    height: 140px;

  }

  .description {
    padding-top: 15px;
    width: 50%;
    margin-left: 35%;

  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;

  }
  .pun{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
  }
   
  .description .span1 {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
    margin-bottom: 1vh;
    font-size: 20px;
    color: #4e614f;
    margin-left: 20px;
  }

  .description .span2 {
    margin-bottom: 1vh;
    font-size: 15px;
    color: #4e614f;
    padding-top: 160px;

  }
 
   
  button[class*=btn] {
    width: 200px;
    height: 50px;
    background-color: #dbdad746;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    min-height: 30px;
    min-width: 30px;
  }

  .total-price {
    width: 9vw;
    padding-top: 10vh;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2vh;
    color: #4e614f;
    font-weight: 300;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 1vw;
    margin-right: 0;

  }
  .totaltotal-price {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 300;
    vertical-align: middle;
    height: 6vh;
    width: 100%;
    text-align: right;
    padding-right: 30px;

    color: #5E6977;
    font-size: 2vh;
    font-weight: 400;
  }

   .shopping-cart .title1 { 
    height: 5vh;
    border-bottom: 1px solid #60755b;
    padding: 20px 30px 10px;
    color: #5E6977;
    font-size: 2vh;
    font-weight: 400;
    width: 100%;
    float: left !important;
    } 

    .shopping-cart .title1 a { 
    display: inline-block; 
 
    text-decoration: none; 
    color: inherit; 
    transition: ease .25s; 
    font-family:  Helvetica; 
    } 
    .shopping-cart .title1 a:hover { 
        color: #668065;
    } 


    .button {
      outline: 0;
      border: 0;
      background: none;
      border: 1px solid #d9d9d9;
      padding: 8px 0px;
      color: #515151;
      text-transform: uppercase;
      width: 100px;
      font-family: inherit;
      margin-right: 5px;
      transition: all 0.3s ease;
      font-weight: 500;
      font-size: 0.8vw;
      margin-top: 20px;
      margin-left: 60px;
  } 
  .button:hover {background: darken(white, 2%);
      border: 1px solid #7a8877;
      color: #597254;
      cursor: pointer;
  }
  .mes2 {
      text-align: center;
      line-height: 1em;
      font-weight: 100;
      letter-spacing: 0px;
      letter-spacing: 0.02rem;
      color: rgb(69, 84, 64);
      font-size: 15px;
      margin-top: 20px;
  
      position: relative;
      font-size: 15px;
      width: 100%;
      margin-left: 20%;
    }
    
    .mes {
      text-align: center;
      line-height: 1em;
      font-weight: 100;
      letter-spacing: 0px;
      letter-spacing: 0.02rem;
      color: rgb(161, 30, 30);
      font-size: 15px;
      position: relative;
      font-size: 15px;
      width: 100%;
      margin-left: 5%;
    }
